<div class="grid grid-cols-3 gap-[1.5px]">
  <div class="bg-primary w-3 aspect-square"></div>
  <div class="bg-primary w-3 aspect-square"></div>
  <div class="bg-primary w-3 aspect-square"></div>
  <div class="bg-primary w-3 aspect-square"></div>
  <div class="bg-primary w-3 aspect-square"></div>
  <div class="bg-primary w-3 aspect-square"></div>
  <div class="bg-primary w-3 aspect-square"></div>
  <div class="bg-primary w-3 aspect-square"></div>
  <div class="bg-primary w-3 aspect-square"></div>
</div>
